body {
    text-align: center;
    background: lightgray;
    color: #100c08;
    margin: 0;
    font-family: "ubuntu";
    font-size: 1rem;
    line-height: 1.6;
    padding: 1em;
}


.header-container {
    display: grid;
    grid-column-gap: 1px;
    grid-template-areas: 
            "img title"
            "img subtitle";
    border: solid 2px black;
    justify-content: space-between;
    padding: 1em 30em;
    
}


img {
    display: block;
    max-width: 200px;
    grid-area: img;
    border: solid 2px black;
    
}
.title {
  grid-area: title;
  border: solid 2px black;
}
.subtitle{
  grid-area: subtitle;
  border: solid 2px black;
}



.about-container{
  border: solid 2px black;
  display: grid;
  padding: 1em;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  justify-content: center;
  grid-template-areas: 
  "main main main"
  "description description description";

  
  
}

.itemA {
  grid-area: main;
  width: 80%;
  
}
.itemC {
  grid-area: description;
  margin: auto;
  width: 30%;
  border: solid 2px black;
  grid-column: 1 / 2
}
.itemD {
  grid-area: description;
  margin: auto;
  width: 30%;
  border: solid 2px black;
  grid-column: 2 / 3
}
.itemE {
  grid-area: description;
  margin: auto;
  width: 30%;
  border: solid 2px black;
  grid-column: 3 / 4
}

.works-container{
  border: solid 2px black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1em;
}

.contacts-container{
  border: solid 2px black;
  padding: 1em;
}

.contact-links{
  border: solid 2px black;
  padding: 1em;
  margin-top: 1em;
}